  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :client %></td>
      <td><%= f.text_field :client %></td>
    </tr>
    <tr>
      <td><%= f.label :brief %></td>
      <td><%= f.text_area :brief %></td>
    </tr>
        <tr>
      <td><%= f.label :solution %></td>
      <td><%= f.text_area :solution %></td>
    </tr>
    <tr>
      <td><%= f.label :outcome %></td>
      <td><%= f.text_area :outcome %></td>
    </tr>
    <tr>
      <td><%= f.label :is_featured %></td>
      <td><%= f.check_box :is_featured %></td>
    </tr>
    <tr>
      <td><%= f.label :is_published %></td>
      <td><%= f.check_box :is_published %></td>
    </tr>
    <tr>
      <td><%= f.label :project_type %></td>
      <td>
        <%= f.select :project_type, options_for_select([["Design","0"], ["Illistration","1"], ["Miscellaneous","2"]], :selected => @project.project_type) %>
      </td>
    </tr>
    <tr>
      <td>Thumbnail</td>
    </tr>
    <tr>
      <td>
        <%= image_tag @project.thumbnail.url, :style=>"width:50px;height:50px;"%>
      </td>
      <td><%= f.file_field :thumbnail %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
