<div style="margin-bottom:20px;">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>

<%= link_to "New project", admin_new_path %>
<table>
	<tr>
		<th>Title</th>
	</tr>
	<% @projects.each do |project| %>
		<tr>
			<td>
				<%= project.title %>
			</td>
			<td>
				<%= link_to "images", images_path(:project_id => project.id) %> | <%= link_to "edit", admin_edit_path(:id => project.id) %> | <%= link_to "delete", admin_delete_path(:id => project.id), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
	<% end %>
</table>