<div class="content">
	<div class="splashpage">
		<div id="Abouttext">
			<div id="homeTitle"><b>Graphic Design & Illustration</b></div>
			<div id="homeLocation"><i>Wellington, New Zealand</i></div>
			<div id="homeEmail">robyn.a.adamson@gmail.com</div> 
			<hr  id="homeRule" />
			<div id="homeFeatured"><%= @featured.featured_text %></div>
		</div>
	</div>
	<div id="featureimage"> 
		<%= link_to view_project_path(@featured.project_id) do %>
		<div id="myGallery">
			<% @featured.images.each do |image| %>
				<li><%= image_tag image.image.url %></li>
			<% end %> 
<!-- 		<li><%= image_tag "placeholder-image.png" %></li>
		<li><%= image_tag "placeholder-image2.png" %></li>
		<li><%= image_tag "placeholder-image3.png" %></li>
		<li><%= image_tag "placeholder-image4.png" %></li> -->
		</div>
	<% end %>
	</div>
</div>
<div class="clear"></div>
<hr id="projectruletop" />
<script>
	$(document).ready(function() {
  		$('#myGallery').galleryView({
		    transition_speed: 5000,
		    show_filmstrip: false,
		    panel_animation: 'slide',
		    show_infobar: false,
		    panel_height: 445,
		    panel_width: 245,
		    frame_gap:0,
		    autoplay: true,
		    transition_interval:1000,
		    show_panel_nav: false
		});
	});
</script>
