<div class="content">
		<div id="projectimageviewer"> 
			<div id="myGallery">
			<% @project.images.each do |image| %>
				<li><%= image_tag image.image %></li>
			<% end %>
			</div>
		</div>
		<div id="projectinfopane">
			<div class="projectinfo">
				<div id="projecttitle">
					<b><%= @project.title %></b>
				</div>
				<div id="projectclient">
					Client: <%= @project.client %>
				</div>
				<div id="projectyear">
					<%= @project.date_added %>
				</div>
			</div>
			<div id="tabs">
				<div class="tab brief selected">brief</div>
				<div class="tab solution centertab">Solution</div>
				<div class="tab outcome" >Outcome</div>
			</div>
			<div class="projectinfo">
				<div class="projectcontent" id='brief'>
				 	<%= @project.brief %>
				</div>
				<div class="projectcontent" id='solution'>
				 	<%= @project.solution %>
				</div>
				<div class="projectcontent" id='outcome'>
				 	<%= @project.outcome %>
				</div>
			</div>
		</div>
</div>
<div class="clear" ></div>

<script type="text/javascript">
	$('#projectimageviewer').galleryView({
    transition_speed: 600,
    show_filmstrip: false,
    panel_animation: 'slide',
    show_infobar: false,
    panel_height: 445,
    panel_width: 720,
    frame_gap:0
	});

	var tabs = $(".tab");
	$('#brief').show();
	$('#solution').hide();
	$('#outcome').hide();

	$(".brief").click(function() {
		tabs.removeClass('selected');
		$(this).addClass('selected');
		$('#brief').show();
		$('#solution').hide();
		$('#outcome').hide();
	});

	$(".solution").click(function() {
		tabs.removeClass('selected');
		$(this).addClass('selected');
		$('#brief').hide();
		$('#solution').show();
		$('#outcome').hide();
	});
	$(".outcome").click(function() {
		tabs.removeClass('selected');
		$(this).addClass('selected');
		$('#brief').hide();
		$('#solution').hide();
		$('#outcome').show();
	});
</script>

