<div class="content">
		<div id="projectimageviewer"> 
			<div id="myGallery">
			<% @project.images.each do |image| %>
				<li><%= image_tag image.image %></li>
			<% end %>
			</div>
		</div>
		<div id="projectinfopane">
			<div class="projectinfo">
				<div id="projecttitle">
					<b><%= @project.title %></b>
				</div>
				<div id="projectclient">
					Client: <%= @project.client %>
				</div>
				<div id="projectyear">
					<%= @project.date_added %>
				</div>
			</div>
			<div id="tabs">
				<div class="tab" id="selected">brief</div>
				<div class="tab centertab">Solution</div>
				<div class="tab" >Outcome</div>
			</div>
			<div class="projectinfo">
				<div class="projectcontent">
				 	<%= @project.brief %>
				</div>
				<div class="projectcontent">
				 	<%= @project.solution %>
				</div>
				<div class="projectcontent">
				 	<%= @project.outcome %>
				</div>
			</div>
		</div>
</div>
<div class="clear" ></div>

<script type="text/javascript">
	$('#projectimageviewer').galleryView({
    transition_speed: 600,
    show_filmstrip: false,
    panel_animation: 'slide',
    show_infobar: false,
    panel_height: 445,
    panel_width: 720,
    frame_gap:0
	});

$(document).ready(function() {
	var tabs = $(".tab");
	$(".tab").click(function() {
		tabs.removeClass('selected');
		$(this).addClass('selected');
	});
}); 
</script>

