<div class="menu">
	<ul>
		<%= nav_link 'Home', root_path %>
		<li>About</li>
		<%= nav_link 'Design', design_path %>
		<%= nav_link 'Illustration', illustration_path %>
		<%= nav_link 'Miscellaneous', miscellaneous_path %>
		<%= nav_link 'Published', published_path %>
		<%= nav_link 'Attic', attic_path %>				
	</ul>
</div>
