<!DOCTYPE html>
<html>
<head>
  <title>Robyn A Adamson Design</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "galleryview-3.0" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery.galleryview-3.0" %>
  <%= javascript_include_tag "jquery.timers-1.2" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="website">
		<div id="header">
			<%= image_tag "web-banner.png", :class=>"headerimage" %>
		</div>
		<div id="body">
			<%= render :partial => "layouts/menu"  %>
			
			<%= yield %>
		</div>
		<div class="clear" ></div>
		<hr id="projectrule" />
		<div id="footer">
		</div>
	</div>
</body>
</html>
